// Dark Mode Switch
.btnOuter{
    width: 2.5rem;
    height: 2.5rem;
    box-sizing: border-box;
    border: 4px solid #FBE21F;
    box-shadow: -12px -12px 24px #FFFFFF, 12px 12px 24px #E3E3E3;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .btnInner{
        width: 2rem;
        height: 2rem;
        padding: 0;
        background: none;
        svg{
            width: 1.25rem;
            height: 1.25rem;
        }
    }
    .btnInner:hover{
        background: none;
    }
}
