.wrap{
    width: 100%;
}
.slideWrap{
    max-width: 77rem;
    border: 4px solid #FBE21F;
    border-radius: 20px;
    padding: 2.5rem;
    margin: 0 auto;
}
.cardWrap{
    width: 100%;
    display: flex;
    div{
        margin: 16px 24px;
    }
}

.textH2{
    font-size: 1.5rem;
    font-weight: bold;
}
.title{
    font-size: 1.25rem;
    font-weight: bold;
    color: #262626;
    margin: 16px 0;
}
.date{
    font-size: 0.75rem;
    font-weight: bold;
    color: #262626;
    display: flex;
}    
.date::before{
    content: "🕛";
    display: block;
    margin: 0 4px 0 0;
}